html { background-color: cornsilk; }

.Name { font-size: 3em; }

h1 { text-align: center;}

body { background-color: LemonChiffon;
         width: 80%;
         margin: auto;}

img {width: 40%;
     margin-left: auto;
     margin-right: auto;
     border: solid black;
     display: block;
     }

p {font: Monaco; }
