M { background-color: chocolate;
   float: left; }
D { background-color: brown;
   float: left; }
W { background-color: blanchedalmond;
   float: left; }

Milk { background-color: chocolate;
       color: brown; 
        float: left;}
Dark { background-color: brown;
       color: crimson;  
      float: left;}

White { background-color: blanchedalmond; 
        color: goldenrod; 
       float: center;}
