M { background-color: chocolate; }
D { background-color: brown; }
W { background-color: blanchedalmond; }

Milk { background-color: chocolate;
       color: brown; }
Dark { background-color: brown;
       color: crimson;  }

White { background-color: blanchedalmond; 
        color: goldenrod; }
