html { background-color: burlywood; }

.Mbody { background-color: chocolate;
         width: 70%;
         margin: auto;}
.Dbody { background-color: brown;
         width: 70%;
         margin: auto;}
.Wbody { background-color: blanchedalmond;
         width: 70%;
         margin: auto;}

.Milk { background-color: chocolate;
       color: brown; 
       }
.Dark { background-color: brown;
       color: crimson;  
     }

.White { background-color: blanchedalmond; 
        color: goldenrod; 
      }
